*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container {
	width: 100%;
	height: 100vh;
	background-image: url(background.png);
	background-size: cover;
	background-position: center;
	position: relative;
	padding-top: 30px;
	box-sizing: border-box;
}
.navbar
{
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	background: rgba(29,33,61,0.5);
	padding: 0 60px;
	box-sizing: border-box;
}
.logo {
	width: 155px;
}
.logo img {
	width: 30px;
	position: relative;
	z-index: 10px;
	cursor: pointer;
}
nav{
	flex: 1px;

}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-right: 60px;
}

nav ul li a{
	text-decoration: none;
	color: gold;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 25px;
	font-weight: bolder;
}

.user{
	display: flex;
	align-items: center;
	color: gold;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.user img{
	width: 30px;
	margin-left: 15px;
	cursor: pointer;
}
.sidebar{
	width: 155px;
	height: 100vh;
	background: rgba(29,31,59,0.5);
	position: absolute;
	top: 0;
	left: 0;
}

.seach-icon{
	width: 20px;
	display: block;
	margin: 120px auto 0;

}

.social-link{
	width: 20px;
	display: block;
	margin: 220px auto 0;
	text-align: center;
}
.social-link img{
height: 15px;
margin-bottom: 30px;
}
.info-icon {
	width: 20px;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateX(-50%);
}

.msg-container{
	width: 600px;
	height: 280px;
	position: absolute;
	left: 14%;
	top: 57%;
	transform: translateY(-50%);
	overflow: hidden;
}

#slider{
	display: inline-flex;
	transition: 0.5s;
}

.msg-col{
	width: 600px;
	height: 280px;
}
.msg-col h1 {
	color: gold;
	font-size: 70px;
	font-weight: 100px;
	margin: 10px 0;
	text-transform: uppercase;
}
.msg-col p{
	color: #999;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: ;
	font-style: italic; 
}
.msg-col a{
	display: inline-block;
	text-decoration: none;
	color: #555;
	background: #fff;
	font-size: 15px;
	padding: 10px 35px;
	border-radius: 30px;
	margin-top: 25px; 
}
.controller{
	width: 1px;
	height: 320px;
	display: block;
	background: gold;
	position: absolute;
	top: 55%;
	right: 50px;
	transform: translateY(-50%);

}
#line1,#line2,#line3,#line4 {
	height: 80px;
	width: 10px;
	cursor: pointer;
	transform: translateX(-50%);
	

}
#active {
	width: 5px;
	height: 80px;
	border-radius: 10px;
	background: gold;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	transition: 0.5s;
}



































